* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Courier; */
  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-family: "Source Sans Pro", "Arial", sans-serif; */
  /* font-family: Ebrima; */
  font-family: "Lato", sans-serif;
  box-shadow: none;
}
hr {
  border-top: 1px solid #ebedf0;
}
.ant-layout-sider {
  z-index: 1000; /* yoki istalgan bir qiymat */
}

.ant-layout-header {
  z-index: 999; /* yoki istalgan bir qiymat */
}
.brand {
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}
path:hover {
  fill: #1f4d76;
  transform: scale(1.01);
}
path {
  transition: transform 0.3s;
  border-color: #a01717;
}
